{% extends 'base.html' %}

{% block title %}Form{% endblock %}

{% block content %}
	<head>
	    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
	</head>
	<h1>Editar Evento</h1>
	<a href="{% url 'event_list' %}">
	    <button type="button" class="btn btn-primary">Voltar</button>
	</a>
	<a href="{% url 'logout' %}">
	    <button type="button" class="btn btn-primary">Sair</button>
	</a>
	<form method="post">{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Submit" />
	</form>
{% endblock %}
