{% extends 'base.html' %}
{% load cache %}

{% block title %}Eventos{% endblock %}
{% cache 500 content %}
{% block content %}
    <h1>Events</h1>
    <table class="table table-hover">
    <thead>
        <tr>
         <th scope="col">Nome</th>
         <th scope="col">Participantes</th>
         <th scope="col">Detalhes</th>
         <th scope="col">Editar</th>
         <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for event in object_list %}
        <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.participantes }}</td>
        <td><a href="{% url "event_view" event.id %}">Detalhes</a></td>
        <td><a href="{% url "event_edit" event.id %}">Editar</a></td>
        <td><a href="{% url "event_delete" event.id %}">Deletar</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'event_new' %}">
        <button type="button" class="btn btn-primary">Novo</button>
    </a>
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-primary">Sair</button>
    </a>
{% endblock %}
{% endcache %}
