{% extends 'base.html' %}
{% load cache %}

{% block title %}List{% endblock %}
{% cache 500 content %}
{% block content %}
    <h1>Events</h1>
    <table class="table table-hover">
    <thead>
        <tr>
         <th scope="col">Nome</th>
         <th scope="col">Participantes</th>
         <th scope="col">View</th>
         <th scope="col">Edit</th>
         <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for event in object_list %}
        <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.participantes }}</td>
        <td><a href="{% url "event_view" event.id %}">view</a></td>
        <td><a href="{% url "event_edit" event.id %}">edit</a></td>
        <td><a href="{% url "event_delete" event.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'event_new' %}">
        <button type="button" class="btn btn-primary">Novo</button>
    </a>
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-primary">Logout</button>
    </a>
{% endblock %}
{% endcache %}