{% extends 'base.html' %}

{% block title %}Detalhes Evento{% endblock %}

{% block content %}
	<head>
	    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
	</head>
	<a href="{% url 'event_list' %}">
	    <button type="button" class="btn btn-primary">Voltar</button>
	</a>
	<a href="{% url 'logout' %}">
	    <button type="button" class="btn btn-primary">Sair</button>
	</a>
	<h1>Detalhes do Evento</h1>
	<h2>Nome:</h2> {{object.name}}
	<br><h2>Participantes:</h2> {{ object.participantes }}
	<br><h2>Bandas:</h2> {% for band in event.band.all %}{{ band }}<br/>{% endfor %}


{% endblock %}
